# OdontoHub - Variáveis de Ambiente

# Chave secreta para o JWT
JWT_SECRET="sua_chave_secreta_aqui"

# Configurações do Banco de Dados
DATABASE_URL=postgresql://neondb_owner:npg_eM1p3TDQWBjS@ep-old-sun-a49jft1q-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# Configurações de E-mail (SMTP)
EMAIL_HOST=smtp.exemplo.com
EMAIL_PORT=587
EMAIL_USER=seu_usuario@exemplo.com
EMAIL_PASS=sua_senha_ou_app_password
EMAIL_FROM="OdontoHub <noreply@odontohub.app.br>"
