@import "tailwindcss";

@theme {
  --breakpoint-xs: 400px;
  --breakpoint-tablet-p: 768px;
  --breakpoint-tablet-l: 900px;
  --breakpoint-desktop: 1200px;
}

@layer utilities {
  @media print {
    /* Force colors and backgrounds */
    * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
      color-adjust: exact !important;
    }

    .no-print {
      display: none !important;
    }
    
    body {
      background: white !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    /* Hide scrollbars on print */
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
