@import "tailwindcss";

@theme {
  --breakpoint-tablet-p: 768px;
  --breakpoint-tablet-l: 900px;
  --breakpoint-desktop: 1200px;
}

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    body {
      background: white !important;
    }
    .print-only {
      display: block !important;
    }
  }
}
